@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .text-default {
    color: #1D1E18
  }

  .text-white {
    color: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), rgba(235, 235, 211, 0.25);
  }
 
  .text-primary {
    color: #773344
  }

  .bgc-dark {
    background: #081229;
  }

  .bgc-deep-dark {
    background: rgba(14, 16, 28, 0.75);
  }

  .bgc-primary {
    background-color: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), rgba(235, 235, 211, 0.25);
  }

  .btn-cancel {
    background: rgba(153, 178, 221, 0.5);
    ;
  }

  .btn-primary {
    background: #EC5990;
  }
}