@tailwind base;
@tailwind components;
@tailwind utilities;




*::-webkit-scrollbar {
  width: 5px;
  scroll-padding: 4px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px slategrey;
}

*::-webkit-scrollbar-thumb {
  background-color: #EC5990;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

/* quill editor override css */

.ql-toolbar {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

}

.ql-container {
  min-height: 300px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.ql-container img{
  padding: 8px;
  border: 1px solid lightgrey;
  border-radius: 6px;
  box-shadow:  rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 60%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}


.header-shadow {
  box-shadow: 0px 0px 24px 0px rgb(0 0 0 / 15%);
  ;
}

.light-item-shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px
}

@keyframes slide {
  0% {
    scale: 0;

  }

  100% {
    scale: 1;
  }
}

.active-menu::after {
  content: "";
  display: block;
  width: 120%;
  margin-top: 4px;
  background-color: #cc497f;
  height: 2px;
  animation: slide .5s backwards;
  -webkit-animation: slide .5s backwards;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

@layer components {

  /* ckeditor styles */
  .h-main-content {
    min-height: calc(100vh - 68px - 80px);
  }

  .text-header {
    font-size: 24px;
    font-weight: 700;
  }
  @media screen and (max-width : 875px) {
      .text-header{
        font-size: 22px;
      }
  }
  @media screen and (max-width : 475px) {
    .text-header{
      font-size: 20px;
    }
}

  .text-sub-header {
    font-size: 20px;
    font-weight: 700;
  }

  .text-info {
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5)
      /* opacity: 0.5; */
  }


  .text-default {
    color: #1D1E18
  }

  .text-white {
    color: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), rgba(235, 235, 211, 0.25);
  }

  .text-primary {
    color: #EC5990
  }

  .bgc-dark {
    background: #081229;
  }

  .bgc-deep-dark {
    background: rgba(14, 16, 28, 0.75);
  }

  .bgc-primary {
    background: rgba(138, 225, 252, 0.08);
  }

  .btn {
    @apply py-1 px-2 rounded-md border font-bold shadow text-base
  }

  .btn-cancel {
    background: rgba(153, 178, 221, 0.5);
  }

  .btn-primary {
    background: #EC5990;
    color: white;
    font-weight: 700;
  }

  .input {
    @apply border border-[#cccccc] rounded-md px-2 py-1 text-base
  }

  .input:focus {
    /* border: none; */
    /* border : #2684ff; */
    outline: #2684ff;
  }

}